body {
    margin: auto;
    width: 80%;
}

#presentation_paragraph {
    width: 50%;
    height: auto;
}

.wLink {
    width: 3.5rem;
    padding: 2rem;
    transition: margin 0.6s ease;
}

.wLink:hover {
    color: green;
    margin-bottom: 2rem;
}