.groupProjects {
    display: flex;
    flex-wrap: wrap;
}

.groupProjects>.groupProject {
    flex: 1 0 35%;
    border: 1px solid black;
    width: 4rem;
    margin: 2rem;
}

.groupProject:hover {
    background-color: black;
    color: white;
    transition: background-color 0.5s, color 0.5s;
}

.group_project_image {
    width: 27rem;
}

@media (max-width: 600px) {
    .groupProjects .groupProject {
        flex: 1 0 100%;
    }
}

.personalProjects {
    display: flex;
    flex-wrap: wrap;
}

.personalProjects>.personalProject {
    flex: 1 0 35%;
    border: 1px solid black;
    width: 4rem;
    margin: 2rem;
}

.personalProject:hover {
    background-color: black;
    color: white;
    transition: background-color 0.5s, color 0.5s;
}

.projectButton {
    width: 6rem;
    height: 4rem;
    border-radius: 2rem;
    font-weight: bold;
    padding: 1rem;
    overflow: hidden;
}

.projectButton:hover {
    background-color: rgb(11, 192, 87);
    color: white;
    transition: background-color 0.5s, color 0.5s;
}