#projects_page {
    background-color: rgb(43, 43, 43);
    color: white;
}

.groupProjects {
    display: flex;
    flex-wrap: wrap;
}

.groupProjects>.groupProject {
    flex: 1 0 35%;
    border: 1px solid rgb(255, 255, 255);
    width: 4rem;
    margin: 2rem;
}

.groupProject:hover {
    background-color: white;
    color: rgb(43, 43, 43);
    transition: background-color 0.5s, color 0.5s;
}

.group_project_image {
    width: 27rem;
}

@media (max-width: 600px) {
    .groupProjects .groupProject {
        flex: 1 0 100%;
    }
}

.personalProjects {
    display: flex;
    flex-wrap: wrap;
}

.personalProjects>.personalProject {
    flex: 1 0 35%;
    border: 1px solid rgb(255, 255, 255);
    width: 4rem;
    margin: 2rem;
}

.personalProject:hover {
    background-color: white;
    color: rgb(43, 43, 43);
    transition: background-color 0.5s, color 0.5s;
}

.project_description {
    padding: 0 2rem 0;
}

.projectButton {
    width: 6rem;
    height: 4rem;
    border-radius: 2rem;
    font-weight: bold;
    padding: 1rem;
    overflow: hidden;
    margin: 1rem 1rem;
    vertical-align: top;
}

.projectButton:hover {
    color: rgb(43, 43, 43);
    width: 9rem;
    transition: width 0.3s;
}