#resume_page {
    background-color: rgb(43, 43, 43);
    color: white;
}

#education>.school {
    border: 1px solid rgb(255, 255, 255);
    width: 40%;
}

.school:hover {
    background-color: white;
    color: rgb(43, 43, 43);
    transition: background-color 0.5s, color 0.5s;
}

.description {
    padding: 0 2rem 0;
}

.experience {
    border: 1px solid rgb(255, 255, 255);
    width: 50%;
}

.experience:hover {
    background-color: white;
    color: rgb(43, 43, 43);
    transition: background-color 0.5s, color 0.5s;
}