#about_page {
    background-color: rgb(43, 43, 43);
    color: white;
    background: url(./images/mesh-gradient.png);
    padding: 1rem;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
}

body {
    margin: auto;
}

.about_image {
    width: 100%;
    max-width: 30rem;
    padding: 0 1vw;
}

.presentation_paragraph {
    width: 100%;
    max-width: 40rem;
    font-size: 1.2rem;
    height: auto;
    padding-bottom: 9rem;
    margin: auto;
}

.typewriter {
    font-size: 2rem;
    overflow: hidden;
    border-right: 0.15em solid rgb(75, 135, 221);
    white-space: nowrap;
    margin: 2vw auto;
    letter-spacing: 0.15em;
    animation:
        typing 4.2s steps(40, end),
        blink-caret .75s step-end infinite;
}

@keyframes typing {
    0% {
        width: 0;
        margin-left: 0;
    }

    50% {
        width: 100%;
        margin-left: 0;
    }

    100% {
        width: 100%;
        margin-left: 0;
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: rgb(75, 135, 221);
    }
}

.wLink {
    width: 3.5rem;
    padding: 2rem;
    position: relative;
    transition: top 0.4s ease;
    top: 0;
    max-width: 100%;
}

.wLink:hover {
    color: rgb(133, 133, 133);
    top: -1vw;
}