#projects_page {
    background-color: rgb(43, 43, 43);
    color: white;
}

.groupProjects,
.personalProjects {
    display: flex;
    flex-direction: column;
}

.groupProjects>.groupProject,
.personalProjects>.personalProject {
    flex: 1 0 35%;
    border: 1px solid rgb(255, 255, 255);
    margin: 2rem;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    height: 15em;
    padding: 20px;
    box-sizing: border-box;
}

.groupProject:hover {
    background-color: white;
    color: rgb(43, 43, 43);
    transition: background-color 0.5s, color 0.5s;
}

.group_project_image,
.personal_project_image {
    width: 100%;
    max-width: 27rem;
    border-radius: 1rem;
    margin: 0 1rem 1rem 1rem;
}

.project {
    display: flex;
    flex-direction: row;
}

.project_left {
    width: 40%;
}

.project_right {
    width: 60%;
    text-align: left;
    padding: 0 2rem;
}

.projectTechnos {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.projectTechno {
    border: 3px solid rgb(75, 135, 221);
    background-color: rgb(75, 135, 221);
    border-radius: 1rem;
    padding: 0.25rem;
    font-weight: bold;
}

@media (max-width: 900px) {

    .groupProjects>.groupProject,
    .personalProjects>.personalProject {
        flex: 1 0 50%;
    }
}

@media (max-width: 600px) {

    .groupProjects .groupProject,
    .personalProjects>.personalProject {
        flex: 1 0 100%;
    }
}

.personalProject:hover {
    background-color: white;
    color: rgb(43, 43, 43);
    transition: background-color 0.5s, color 0.5s;
}

.projectButton {
    width: 6rem;
    height: 4rem;
    border-radius: 2rem;
    font-weight: bold;
    padding: 1rem;
    overflow: hidden;
    vertical-align: top;
    cursor: pointer;
    margin-right: 1rem;
}

.projectButton:hover {
    color: rgb(43, 43, 43);
    width: 9rem;
    transition: width 0.3s;
}